
@{
    ViewBag.Title = "About";
}
@section Styles {
    <link href="@Url.Content("~/Content/About.css")" rel="stylesheet" type="text/css" />
}
<p class="body-text">
    "𝐻𝑜𝓌 𝓁𝑜𝓃𝑔 𝓌𝒶𝓈 𝐼 𝑔𝑜𝓃𝑒?<br />
    𝐼𝓉 𝒻𝑒𝓁𝓉 𝓁𝒾𝓀𝑒 𝓎𝑜𝓊 𝓌𝑒𝓇𝑒 𝓌𝒾𝓉𝒽 𝓂𝑒 𝓉𝒽𝑒𝓃<br />
    𝐼𝓃 𝓉𝒽𝒶𝓉 𝓅𝓁𝒶𝒸𝑒<br />
    𝐼𝓉 𝒻𝑒𝓁𝓉 𝓁𝒾𝓀𝑒 𝒶 𝒹𝓇𝑒𝒶𝓂<br />
    𝒲𝑒𝓇𝑒 𝓎𝑜𝓊 𝒸𝒶𝓃'𝓉 𝓇𝑒𝓂𝑒𝓂𝒷𝑒𝓇 𝒶𝓃𝓎 𝒹𝑒𝓉𝒶𝒾𝓁𝓈<br />
    𝒫𝑒𝑜𝓅𝓁𝑒, 𝓅𝓁𝒶𝒸𝑒𝓈<br />
    𝐸𝓋𝑒𝓇𝓎𝓉𝒽𝒾𝓃𝑔 𝒾𝓈 𝒷𝓁𝓊𝓇𝓇𝑒𝒹 𝑜𝓊𝓉<br />
    𝐵𝓊𝓉 𝓎𝑜𝓊 𝒸𝒶𝓃 𝓈𝓉𝒾𝓁𝓁 𝒻𝑒𝑒𝓁 𝓉𝒽𝑒 𝒶𝓉𝓂𝑜𝓈𝓅𝒽𝑒𝓇𝑒<br />
    𝒪𝒻 𝓌𝒽𝒶𝓉 𝒾𝓉 𝓌𝒶𝓈 𝓁𝒾𝓀𝑒 𝓉𝑜 𝒷𝑒 𝓉𝒽𝑒𝓇𝑒<br />
    <br />
    𝐼 𝒽𝒶𝓋𝑒 𝒶 𝒻𝑒𝑒𝓁𝒾𝓃𝑔<br />
    𝒯𝒽𝒶𝓉 𝒶𝒻𝓉𝑒𝓇 𝓉𝒽𝒾𝓈<br />
    <span class="underline">𝑅𝑒𝒶𝓁𝒾𝓉𝓎 𝒾𝓈𝓃'𝓉 𝑔𝑜𝒾𝓃𝑔 𝓉𝑜 𝒷𝑒 𝓉𝒽𝑒 𝓈𝒶𝓂𝑒 𝒶𝓃𝓎𝓂𝑜𝓇𝑒.</span>"
</p>
